# Use root/example as user/password credentials
version: '3.1'

services:
  
  db:
    image: mysql
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: example
      MYSQL_DATABASE: game_list
      MYSQL_USER: user
      MYSQL_PASSWORD: example
    ports:
      - 3306:3306
    volumes:
      - ./sql:/docker-entrypoint-initdb.d
