<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">   
<mapper namespace="com.crud_read_and_create.mapper.GameMapper">
    <select id="findAllAsc" resultType="com.crud_read_and_create.entity.Game">
        SELECT games.id, name, platform, genre, price 
        FROM games_platforms
        INNER JOIN games
 		ON games_platforms.games_id = games.id
 		INNER JOIN platforms
 		ON games_platforms.platforms_id = platforms.id
 		ORDER BY games.id ASC;
        
    </select>
    
    <select id="findAllDesc" resultType="com.crud_read_and_create.entity.Game">
        SELECT games.id, name, platform, genre, price 
        FROM games_platforms
        INNER JOIN games
 		ON games_platforms.games_id = games.id
 		INNER JOIN platforms
 		ON games_platforms.platforms_id = platforms.id
 		ORDER BY games.id DESC;
    </select>
    
    <select id="findById" resultType="com.crud_read_and_create.entity.Game">
        SELECT games.id, name, platform, genre, price 
        FROM games_platforms
        INNER JOIN games
 		ON games_platforms.games_id = games.id
 		INNER JOIN platforms
 		ON games_platforms.platforms_id = platforms.id
        WHERE games.id = #{id} 
    </select>
    
    <insert id="create" useGeneratedKeys="true" keyProperty="id">
    	INSERT INTO games (name, genre, platform, price) VALUES(#{name}, #{genre}, #{platform}, #{price})   
    </insert>
    
</mapper>