<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <link th:href="@{/css/stylesheet.css}" rel="stylesheet">
    <title>GameSearch</title>
</head>
<body>
<header>
    <div class="header-logo">GAMEの管理</div>
    <div class="header-list">
        <ul>
            <li><a th:href="@{/create}">GAME登録</a></li>
            <li><a th:href="@{/create-platform}">PLATFORM登録</a></li>
        </ul>
    </div>
</header>
<div class="main">
    <form method="post" th:action="@{/search/db}" th:object="${gameForm}">
        <div class="main-logo">検索条件</div>
        <table>
            <tr>
                <th>ID</th>
                <th><input class="searchId" type="text" name="id" th:value="${id_value}"></th>
            </tr>
        </table>
        <div class="validation-error">
            <p th:text="${validationError}"></p>
        </div>
        <div>
            <input type="radio" id="asc" name="order" value="asc" checked> <label for="asc">昇順</label> <input
                type="radio" id="desc" name="order" value="desc"> <label for="desc">降順</label>
        </div>
        <input class="btn" type="submit" value="検索">
    </form>
</div>
</body>
</html>
